<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医生查询</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/search_doctor.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
<div class="header">
<div class="login-layer hidden">

    <div class="login-background">

    </div>
</div>

<div class="fastTop">
    <div class="searchBox">
        <!--登录框-->
        <div class="login-table hidden">
            <div class="dl_close">
                <img src="/static/img/dl_close.png">
            </div>
            <div id="login">
                <form action="/login/" method="post">
                    <dl class="dl_username">
                        <dt>用户名：</dt>
                        <dd>
                            <input class="usernameInput" placeholder="请输入用户名" name="name">
                        </dd>
                    </dl>
                    {% csrf_token %}
                    <dl class="dl_password">
                        <dt>密&nbsp;码：</dt>
                        <dd>
                            <input type="password" class="passwordInput" placeholder="请输入密码" name="password">
                        </dd>
                    </dl>
                    <div class="submit">
                        <input id="submitLogin" type="submit" value="登录">
                        <a href="/registerpage/" id="registerButton">注册</a>
                    </div>
                </form>
            </div>
        </div>
        <!--  end -->
        <div class="logo">
            <a class='logo' href="/">
                <img class="logo" src="/static/img/logo.png">
            </a>
        </div>
        <div class="area"></div>


        <div class="keyword"></div>
        <form id="searchForm" method="get" action="/search/">
            <div class="search-option">
                <span class="intext">医　院</span>
                <span>∨</span>
            </div>

            <div class="search-selection" style="display: none;">
                <ul>
                    <!--隐藏的input表单用来获取已经选取的选项-->
                    <input id="selection" value="h" style="display: none;" name="choice">

                    <!-- <select name="choice">-->
                    <!--<option value="h"><li>医&nbsp;院</li></option>
                    <option value="o"><li>科&nbsp;室</li></option>
                    <option value="d"><li>医&nbsp;生</li></option>
                    </select>-->

                    <li value="h">医　院</li>
                    <li value="o">科　室</li>
                    <li value="d">医　生</li>
                </ul>
            </div>
            <input id="searchInput" placeholder="&emsp;请输入医院/科室/医生" type="text" name="key">
            <button id="searchButton" type="submit">搜&nbsp;索</button>
        </form>
        <div class="login">
            {% if request.session.userName %}
            <div class="welcomebuttom">
                欢迎您！<a href="/myInfo/">{{request.session.userName}}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                    href="/logout/">注销</a>
            </div>
            {% else %}
            <div class="loginButton">
                <button href="#">登&nbsp;录</button>
            </div>
            <div class="registerButton">
                <a href="/registerpage/">注&nbsp;册</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!---->
<!--导航栏-->
<div class="banner">
    <div class="banner-content">
        <div class="home selected banner0">
            <a href="/">首页</a>
        </div>
        <div class="hospitalSearch unselected banner0">
            <a href="/hospitalSearch/,1,1">按医院挂号</a>
        </div>

        <div class="officeSearch unselected banner0">
            <a href="/officeSearch/">按科室挂号</a>
        </div>

        <div class="doctorSearch unselected banner0">
            <a href="/doctorSearch/,1">按医生挂号</a>
        </div>
    </div>

</div>
<script src="/static/js/header.js"></script>
</div>
<div class="main-body">
    <div class="index-container">
        <div class="index-left">
            <div class="il-left">
                <div class="il-detail">
                    医院类型：
                </div>
                <div class="il-detail">
                    医院级别：
                </div>
                <div class="il-detail">
                    地域：
                </div>
                <div class="il-detail">
                    服务类型：
                </div>
            </div>
            <div class="il-right">
                <div class="il-r-container">
                    <div class="il-r-detail">
                        <!--padding没有被填充颜色。。。挺难看的，不知道咋回事-->
                        <a href="#"  >全部</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >综合医院</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >专科医院</a>
                    </div>
                    <!--<ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">Profile</a></li>
                        <li role="presentation"><a href="#">Messages</a></li>
                    </ul>-->
                </div>
                <div class="il-r-container">
                    <div class="il-r-detail">
                        <a href="#"  >全部</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >三级甲等</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >三级医院</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >二级医院</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >一级医院</a>
                    </div>
                </div>
                <div class="il-r-container">
                    <div class="il-r-detail">
                        <a href="#"  >全部</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >东城区</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >西城区</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >朝阳区</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >丰台区</a>
                    </div>
                </div>
                <div class="il-r-container">
                    <div class="il-r-detail">
                        <a href="#"  >全部</a>
                    </div>
                    <div class="il-r-detail">
                        <a href="#"  >可挂号</a>
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->
        <!--</div>-->
        <div class="index-right">
            <div class="ir-top">
                挂号规则
            </div>
            <div class="ir-body">
                 <p>
                    1.每日8:00左右更新后一天号源
                </p>
                <p>
                    2.可预约明天和未来1周号源
                </p>
                <p>
                    3.请遵守预约时间，到医院就诊
                </p>
            </div>
        </div>
    </div>
    <div class="hosp-container">

        {% for doc in doctors %}
            <div class="hc-pic-box">
                {% ifequal doc.sex 'm' %}
            <img src="/static/img/doctorinfo/new_search_doctor_03.png" width="121px" height="123px">
                {% else %}
             <img src="/static/img/doctorinfo/new_search_doctor_06.png" width="121px" height="123px">
                {% endifequal %}
            <div class="hc-text">
                <p class="hs-name"><a href="/doctor/{{doc.id}}/">{{doc.name}}</a></p>
                <p class="hc-level">{{doc.title}}</p>
                <p class="hs-info">{{doc.departmentId.hospitalId.name}}</p>
                <p class="hc-info-detail">{{doc.departmentId.name}}</p>
                <p class="hs-goodat">擅长诊治</p>
                <p class="hc-goodat-detail">{{doc.introduction}}</p>
            </div>
            <p><a href="/doctor/{{doc.id}}/" class="btn btn-primary btn-lg hc-btn" role="button">预约挂号</a>
        </div>
        {% empty %}
        <div class="hosp-container">
            <div class="no-hospital">
                <img src="/static/img/no-hospital.png">
                <p>抱歉！没有符合条件的医生</p>
            </div>
        </div>
        {% endfor %}




    </div>
    {% if pagerange %}
    <nav class="page-direct">
        <ul class="pagination">
            <li><a href="/doctorSearch/{{doctorname}},1">&laquo;</a></li>
            {% for i in pagerange%}
                <li><a href="/doctorSearch/{{doctorname}},{{i}}">{{i}}</a></li>
            {% endfor %}

            <li><a href="/doctorSearch/{{doctorname}},{{pageend}}">&raquo;</a></li>

        </ul>
    </nav>
    {% endif %}

</div>



<footer class="footer-background">
    <div class="footer-container">
    <br><br>
     <p style="text-align: center;">&copy;2018 在线预约挂号系统</p>
     <br>
    </div>
</footer>

<script type="text/javascript" src="/static/js/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script src="/static/js/search_hospital.js"></script>
<script src="/static/js/header.js"></script>
</body>
</html>
